.container {
    padding: 0 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.span {
    padding-right: 10px;
    text-decoration: underline;
}

.p {
    flex-basis: 100%;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: underline;
}

.icon {
    background: #595990;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    border-radius: 50%;
    padding: 20px;
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    .icon:hover {
        cursor: pointer;
        background: white;
        color: #595990;
    }
}