.item {
    margin-left: 10px;
    padding: 20px 0;
}

.item:first-child {
    margin-left: 0;
}

.link {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
}

@media all and (max-width: 600px) {
    .item {
        margin-left: 0;
        width: 100%;
        padding: 5px 0;
    }

    .link {
        display: inline-block;
        width: inherit;
        text-align: center;
    }
}

@media (hover: hover) and (pointer: fine) {
    .link:hover {
        color: #bbc;
        border: 1px solid #bbc;
        background: white;
    }
}
