.header {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-basis: 100%;
    margin: 0 auto;
    position: relative;
}

.submit {
    font-weight: 600;
    background: transparent;
    border: 0;
    color: white;
    cursor: pointer;

    position: absolute;
    top: 8px;
    left: calc(100% - 30px);
}

.input {
    flex-grow: 1;
    height: 30px;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid white;
    position: relative;
    padding-right: 30px;
}

.input:focus {
    color: white;
}

.input::placeholder {
    color: white;
}

@media (hover: hover) and (pointer: fine) {
    .submit:hover {
        cursor: pointer;
    }
}