top-article
top-article-image
top-article-details
top-article-details-date
top-article-details-author
top-article-details-comments
top-article-details-likes
main-article-details-readers
top-article-description
main-article-description-title
main-article-description-content

.top-article {
    width: 100%;
    margin: 10px auto;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    flex-basis: 100%;
}

.top-article-image {
    text-align: center;
}

.top-article-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    vertical-align: middle;
}

.top-article-details {
    background: white;
    color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
}
