.footer {
    max-width: 1200px;
    margin: 0 auto;
    background: darkblue;
    color: white;
    text-align: center;
    height: 50px;
    position: relative;
}

.p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}