@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

body {
    font-family: 'Lato', sans-serif;
    background: #595990;
}

@media all and (max-width: 768px) {
    #toggle:checked ~ nav > ul {
        background: red;
    }
}