.header {
	max-width: 1000px;
	margin: 0 auto;
	background: #595990;
}

.navbar {
	height: 60px;
	width: 100%;
	background: #595990;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	display: flex;
	list-style: none;
	z-index: 1;
}

.item {
	padding-left: 20px;
}

.link {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	transition: 0.8s all;
}

.icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.navbar {
		position: relative;
	}

	.links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 60px;
		left: -100%;
		transition: 0.8s all;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.links.active {
		background: #595990;
		left: 0;
		box-shadow: 0 2px 5px 0 #fff;
	}

	.item {
		padding: 10px 0;
		box-shadow: 0 4px 3px -5px rgba(0,0,0,0.5);
	}

	.icon {
		display: flex;
	}
}

@media (hover: hover) and (pointer: fine) {
	.link:hover {
		color: gold;
	}
}
