.header {
	max-width: 1000px;
	margin: 0 auto;
	background: darkblue;
}

.navbar {
	height: 60px;
	width: 100%;
	background: darkblue;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding: 0 2rem;*/
	/*padding: 0 10px;*/
	/*font-size: 1.2rem;*/
}

.links {
	/*display: grid;*/
	/*grid-template-columns: repeat(3, auto);*/
	/*grid-gap: 20px;*/
	display: flex;
	list-style: none;
	z-index: 1;
}

.item {
	padding-left: 20px;
}

.link {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	transition: 0.8s all;
}

.icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.navbar {
		position: relative;
	}

	.links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 60px;
		left: -100%;
		transition: 0.8s all;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
	}

	.links.active {
		background: darkblue;
		left: 0;
		/*height: 100vh;*/
		min-height: 60px;
	}

	.item {
		padding: 10px 0;
	}

	.icon {
		display: flex;
	}
}

@media (hover: hover) and (pointer: fine) {
	.link:hover {
		color: gold;
	}
}
