.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px 10px 20px;
    position: relative;
}

.error {
    color: gold;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 120px;
}

.textarea {
    outline: none;
    resize: none;
    min-width: 100%;
    min-height: 100px;
    color: #595990;
    font-size: 18px;
    margin: 20px 0;
}

.textarea::placeholder {
    color: #595990;
    font-size: 18px;
    font-style: italic;
}

.textarea:focus {
    outline-color: #595990;
}

.button {
    background: #595990;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    margin-top: 10px;
}

@media (hover: hover) and (pointer: fine) {
    .button:hover {
        cursor: pointer;
        background: white;
        color: #595990;
    }
}