.container {
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    flex-grow: 1;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    height: 60px;
    width: 60px;
}

.img {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 20px;
    background: transparent;
    border: none;
    color: inherit;
    font-size: 1.5em;
}